<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HR APP</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>
<body>

<div ng-app="hrApp">
        <div ng-controller="MathController">
            <p>Enter your name: <input type="text" ng-model="NumberA"></p>
            <p>Enter your name: <input type="text" ng-model="NumberB"></p>
            <p>Result of <span ng-bind="operation"></span> is: <span ng-bind="result"></span></p>

            <table border="0">
                <tr>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="add()">
                            Addition
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="subtract()">
                            Subtraction
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="multiply()">
                            Multiplication
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button" ng-click="divide()">
                            Division
                        </a>
                    </td>
                </tr>
            </table>
    </div>
</div>

<script type="text/javascript" src="../bower_components/jquery/jquery.js"></script>
<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../scripts/app.js"></script>
<script type="text/javascript" src="../scripts/MathController.js"></script>

</body>
</html>